// Colors
$lightColor: #c8e6c9; //100
$primaryColor: #4caf50; //500
$darkColor: #2e7d32; //800
$accentColor: complement($primaryColor); //500

$darkText: rgba(0, 0, 0, .87);
$darkSecondaryText: rgba(0, 0, 0, .54);
$darkHintText: rgba(0, 0, 0, .38);
$darkDivider: rgba(0, 0, 0, .12);

$darkActiveIcon: rgba(0, 0, 0, .54);
$darkInactiveIcon: rgba(0, 0, 0, .38);

$lightText: rgba(251, 251, 251, 1);
$lightSecondaryText: rgba(251, 251, 251, .7);
$lightHintText: rgba(251, 251, 251, .5);
$lightDivider: rgba(251, 251, 251, .12);

$lightActiveIcon: rgba(251, 251, 251, 1);
$lightInactiveIcon: rgba(251, 251, 251, .5);

// Typography
$font: 'Roboto', 'Noto', sans-serif;

$titleTextSize: 20px;
$titleTextWeight: normal;

$buttonTextSize: 14px;
$buttonTextWeight: normal;

$subheadingTextSize: 16px;
$subheadingTextWeight: normal;

$bodyTextSize: 14px;
$bodyTextWeight: normal;
