@import url('https://fonts.googleapis.com/css?family=Roboto');

.tt-App-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background-color: #4caf50;
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 0;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 84px;
}

@media only screen and (min-width: 768px) {
  .tt-App-Container {
    margin-bottom: 0;
    margin-left: 23.79%;
  }
}
