.tt-Navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.tt-Navbar-Li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  max-width: 82px;
  height: 56px;
  padding: 8px 12px 10px 12px;
}

.tt-Navbar-List {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0; }

.tt-Navbar-Link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87); }
.tt-Navbar-Link i,
.tt-Navbar-Link span {
  display: block; }
.tt-Navbar-Link span {
  margin-top: 4px;
  font-size: 12px; }
.tt-Navbar-Link .mdi {
  font-size: 24px; }

.tt-Navbar-Active-Link {
  color: #2e7d32; }
.tt-Navbar-Active-Link span {
  font-size: 14px;
}
.tt-Navbar-Active-Link i {
  font-size: 28px;
}

.tt-Navbar-banner {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tt-Navbar {
    position: fixed;
    bottom: inherit;
    top: 0;
    left: 0;
    width: 23.79%;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tt-Navbar-Li {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin: 0;
    max-width: 400px;
  }
  .tt-Navbar-Li:last-child {
    margin-bottom: 1rem;
  }
  .tt-Navbar-Li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tt-Navbar-Link i,
  .tt-Navbar-Link span {
    display: inline-flex;
  }
  .tt-Navbar-Link span {
    margin-left: .25em;
  }
  .tt-Navbar-banner-container {
    width: 100%;
    height: 100%;
    display: block;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tt-Navbar-banner {
    width: 150px;
    height: 150px;
    background-color: red;
    display: inline-flex;
  }
}
