.tea-image {
  width: 100%;
}

.tt-Card {
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12);
  margin: 8px;
  border-radius: 2px;
  min-width: 304px;
  max-width: 466px;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.tt-Card:last-child {
  margin-bottom: 0;
}

.tt-Card .tt-media {
  position: relative;
}

.tt-media .tea-image-text {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  padding-bottom: 16px;
}

.tt-Card .tt-media .subtitle {
  color: rgba(251, 251, 251, .7);
}

.tt-Card .title {
  padding: 24px 16px 16px 16px;
  font-size: 24px;
}

.tt-Card .subtitle {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, .54);
}

.tt-Card .text {
  padding: 16px 16px 24px 16px;
  font-size: 14px;
}

.tt-Card .label-container {
  padding: 0 16px;
}

.tt-Label {
  height: 16px;
  padding: 8px 12px;
  font-size: 14px;
  color: #fbfbfb;
  background-color: #af4cab;
  border-radius: 20px;
  display: inline-block;
  margin: 0 1em 0 0;
}
