.clock-container {
  position: relative;
  min-height: 174px;
}

.clock-text {
  position: absolute;
  top: 62px; /*38.75%*/
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  padding: 0;
  margin: 0;
  z-index: 300;
}

.hourglass-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
