html {
  font-size: 14px;
}

body {
  line-height: 1.5;
  background-color: #3F51B5;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.content-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
  background-color: #fff;
}

.title,
.subtitle {
  text-align: center;
  max-width: 75ch;
  margin: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.subtitle {
  font-size: 19px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.button {
  background-color: #3F51B5;
  color: #fff;
  border: none;
  padding: 1em;
  font-size: 14px;
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  min-width: 88px;
  text-align: center;
  text-decoration: none;
}

.content-container p {
  max-width: 75ch;
  margin: 1rem auto;
}

@media only screen and (min-width: 1024px) {
  .content-container {
    margin-top: 64px;
  }
  .view-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .content-card {
    max-width: 456px;
  }
}