@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(./icons/MaterialIcons-Regular.woff2) format('woff2'),
  url(./icons/MaterialIcons-Regular.woff) format('woff'),
  url(./icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.navbar {
  background-color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
  z-index: 1;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 4px 0;
}

.navbar-link-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  max-width: 5.857rem;
  height: 4rem;
}

.navbar-link-container a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.navbar .navbar-active-link {
  color: #66BB6A;
}

.navbar-link-container i,
.navbar-link-container span {
  display: block;
}

.navbar-link-container span {
  margin-top: .2857rem;
  font-size: .8571rem;
}

.navbar-link-container i {
  font-size: 1.714rem;
  text-align: center;
}

.navbar-link-text {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-3 .navbar-link-text {
  max-width: 70px;
}

.navbar-4 .navbar-link-text,
.navbar-5 .navbar-link-text {
  max-width: 56px;
}

@media only screen and (min-width: 425px) {
  .navbar-5 .navbar-link-text {
    max-width: 64px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-3 .navbar-link-container:first-child {
    margin-left: 5rem;
  }
  .navbar-3 .navbar-link-container:last-child {
    margin-right: 5rem;
  }
  .navbar-3 .navbar-link-text {
    max-width: 120px;
  }

  .navbar-4 .navbar-link-container:first-child {
    margin-left: 3.5rem;
  }
  .navbar-4 .navbar-link-container:last-child {
    margin-right: 3.5rem;
  }
  .navbar-4 .navbar-link-text {
    max-width: 90px;
  }

  .navbar-5 .navbar-link-container:first-child {
    margin-left: 2.5rem;
  }
  .navbar-5 .navbar-link-container:last-child {
    margin-right: 2.5rem;
  }
  .navbar-5 .navbar-link-text {
    max-width: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    top: 0;
    bottom: auto;
  }
  .navbar-link-container a {
    display: flex;
    align-items: center;
  }

  .navbar-link-text {
    margin-left: .5em;
  }

  .navbar-3 .navbar-link-container:first-child {
    margin-left: 7.5rem;
  }
  .navbar-3 .navbar-link-container:last-child {
    margin-right: 7.5rem;
  }
  .navbar-4 .navbar-link-text {
    max-width: 120px;
  }

  .navbar-4 .navbar-link-container:first-child {
    margin-left: 7.5rem;
  }
  .navbar-4 .navbar-link-container:last-child {
    margin-right: 7.5rem;
  }
  .navbar-4 .navbar-link-text {
    max-width: 110px;
  }

  .navbar-5 .navbar-link-text {
    max-width: 100px;
  }
  .navbar-5 .navbar-link-container:first-child {
    margin-left: 5rem;
  }
  .navbar-5 .navbar-link-container:last-child {
    margin-right: 5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .navbar-3 .navbar-link-container:first-child {
    margin-left: 15rem;
  }
  .navbar-3 .navbar-link-container:last-child {
    margin-right: 15rem;
  }

  .navbar-4 .navbar-link-text {
    max-width: 120px;
  }
  .navbar-4 .navbar-link-container:first-child {
    margin-left: 12rem;
  }
  .navbar-4 .navbar-link-container:last-child {
    margin-right: 12rem;
  }

  .navbar-5 .navbar-link-text {
    max-width: 120px;
  }
  .navbar-5 .navbar-link-container:first-child {
    margin-left: 10rem;
  }
  .navbar-5 .navbar-link-container:last-child {
    margin-right: 10rem;
  }
}

@media only screen and (min-width: 2560px) {
  .navbar-3 .navbar-link-container:first-child,
  .navbar-4 .navbar-link-container:first-child {
    margin-left: 25rem;
  }
  .navbar-3 .navbar-link-container:last-child,
  .navbar-4 .navbar-link-container:last-child {
    margin-right: 25rem;
  }

  .navbar-5 .navbar-link-container:first-child {
    margin-left: 20rem;
  }
  .navbar-5 .navbar-link-container:last-child {
    margin-right: 20rem;
  }
}
